:root {
    /* Global variables regardless of color scheme */
    --font-sans: "DM Sans", system-ui, sans-serif;
    --font-dotted: "Doto", system-ui, sans-serif;
    --font-mono: "JetBrains Mono", ui-monospace, Consolas, monospace;

    --color-accent-50: #eefaff;
    --color-accent-100: #daf3ff;
    --color-accent-200: #bdeaff;
    --color-accent-300: #8fdfff;
    --color-accent-400: #5accff;
    --color-accent-500: #34b1fd;
    --color-accent-600: #2196f3;
    --color-accent-700: #167cdf;
    --color-accent-800: #1863b5;
    --color-accent-900: #1a548e;
    --color-accent-950: #153456;

    /* Color scheme support */
    color-scheme: light dark;

    /* Sensible typography defaults */
    font: 16px var(--font-sans);
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
    :root {
    }
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    display: contents;
}
