:root {
    /* Global variables regardless of color scheme */
    --font-sans: "DM Sans", system-ui, sans-serif;
    --font-dotted: "Doto", system-ui, sans-serif;
    --font-mono: "JetBrains Mono", ui-monospace, Consolas, monospace;

    /* Color scheme support */
    color-scheme: light dark;

    /* Sensible typography defaults */
    font: 16px var(--font-sans);
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
    :root {
    }
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    display: contents;
}
