@import "tailwindcss";
@import "@nuxt/ui";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --ui-primary: var(--color-accent-600);
}

@theme {
  --font-sans: "DM Sans", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-decorative: "Doto", system-ui, sans-serif;

  --color-accent-50: #eefaff;
  --color-accent-100: #daf3ff;
  --color-accent-200: #bdeaff;
  --color-accent-300: #8fdfff;
  --color-accent-400: #5accff;
  --color-accent-500: #34b1fd;
  --color-accent-600: #2196f3;
  --color-accent-700: #167cdf;
  --color-accent-800: #1863b5;
  --color-accent-900: #1a548e;
  --color-accent-950: #153456;
}
